{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block seo %}
{# This value is matched by the config.extra.menu.main->section #}
{% set_global current_section = 'blog' %}
{{ super() }}
{% endblock seo %}

{% block body %}
{% set page_class = "blog single" %}
{% endblock body %}

{% block header %}
{{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          <div class="blog-header">
            <h1>{{ page.title }}</h1>
            {{ macros_publish::page_publish_metadata(page=page) }}
          </div>
          {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
          {% if page.extra.music_url %}
          <div class="card">
            <div class="card-header">
              Music suggestion

            </div>
            <div class="card-body">
              <a class="btn btn-primary" href="{{ page.extra.music_url }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-music-note-beamed" viewBox="0 0 16 16">
                  <path
                    d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
                  <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z" />
                  <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z" />
                </svg>
                Aller à la musique
              </a>
            </div>
          </div>
          {% endif %}
          {{ page.content | safe }}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
